<div *ngIf="user" class="container-fluid">
  <div class="row">
    <div class="col-md-3">
      <!-- Profile Image -->
      <div class="card card-primary card-outline">
        <div class="card-body box-profile">
          <h3 class="profile-username text-center">{{ user.name }}</h3>
        </div>
        <!-- /.card-body -->
      </div>
      <!-- /.card -->

      <!-- About Me Box -->

      <!-- /.card -->
    </div>
    <!-- /.col -->
    <div class="col-md-9">
      <div class="card card-primary">
        <div class="card-header">
          <h3 class="card-title">البيانات الشخصية</h3>
        </div>
        <!-- /.card-header -->

        <form #userForm="ngForm" (ngSubmit)="onSubmit(userForm)">
          <div class="card-body">
            <div class="row">
              <div class="col-sm-12">
                <div class="form-group">
                  <label for="name">الاسم*</label>
                  <input
                    type="text"
                    class="form-control"
                    id="name"
                    name="name"
                    placeholder="English Name"
                    required
                    minlength="4"
                    [(ngModel)]="user.name"
                    #name="ngModel"
                    [class.is-invalid]="
                      name.invalid && (name.dirty || name.touched)
                    "
                  />
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-6">
                <!-- text input -->
                <div class="form-group">
                  <label>الايميل *</label>
                  <input
                    type="email"
                    class="form-control"
                    name="email"
                    required
                    [(ngModel)]="user.email"
                    #email="ngModel"
                    [class.is-invalid]="
                      email.invalid && (email.dirty || email.touched)
                    "
                  />
                </div>
              </div>
              <div class="col-sm-6">
                <div class="form-group">
                  <label>اسم المستخدم *</label>
                  <input
                    type="text"
                    class="form-control"
                    name="username"
                    required
                    [(ngModel)]="user.username"
                    #username="ngModel"
                    minlength="5"
                    [class.is-invalid]="
                      username.invalid && (username.dirty || username.touched)
                    "
                  />
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-6">
                <!-- text input -->
                <div class="form-group">
                  <label>الباسورد</label>
                  <input
                    type="password"
                    class="form-control"
                    name="password"
                    [(ngModel)]="user.password"
                    #password="ngModel"
                  />
                </div>
              </div>
              <div class="col-sm-6">
                <div class="form-group">
                  <label>تأكيد الباسورد</label>
                  <input
                    type="password"
                    class="form-control"
                    name="password_confirmation"
                    [(ngModel)]="user.password_confirmation"
                    #password_confirmation="ngModel"
                  />
                </div>
              </div>
            </div>
          </div>
          <!-- /.card-body -->

          <div class="card-footer">
            <button
              type="submit"
              class="btn btn-primary"
              [disabled]="!userForm.valid"
              [disabled]="loading"
            >
              <span *ngIf="loading"
                ><i class="fas fa-spinner fa-spin"></i
              ></span>
              تعديل
            </button>
          </div>
        </form>
      </div>
      <!-- /.card -->
    </div>
    <!-- /.col -->
  </div>
  <!-- /.row -->
</div>
