<div class="container-fluid">
  <!-- ./row -->
  <div class="row">
    <!-- /.col -->
    <div class="col-md-12">
      <!-- Application buttons -->
      <div class="card card-primary">
        <div class="card-header">
          <h3 class="card-title">الاصناف</h3>
        </div>
        <div class="card-body">
          <a routerLink="/coding/category" class="btn btn-lg btn-app">
            <i class="fas fa-edit"></i> التصنيف
          </a>
          <a routerLink="/coding/items" class="btn btn-lg btn-app">
            <i class="fas fa-edit"></i> الصنف
          </a>
          <a routerLink="/coding/units" class="btn btn-lg btn-app">
            <i class="fas fa-edit"></i> الوحدة
          </a>
        </div>
        <!-- /.card-body -->
      </div>
      <!-- /.card -->
      <!-- Application buttons -->
      <div class="card card-danger">
        <div class="card-header">
          <h3 class="card-title">العملاء والمخازن</h3>
        </div>
        <div class="card-body">
          <a routerLink="/coding/warehouses" class="btn btn-lg btn-app">
            <i class="fas fa-edit"></i> المخازن
          </a>
          <a routerLink="/coding/clients" class="btn btn-lg btn-app">
            <i class="fas fa-edit"></i> العملاء
          </a>
        </div>
        <!-- /.card-body -->
      </div>
      <!-- /.card -->

      <!-- Vertical grouping -->

      <!-- /.card -->

      <!-- Radio Buttons -->

      <!-- /.card -->
    </div>
    <!-- /.col -->
  </div>
  <!-- /. row -->
</div>
