<div *ngIf="loading" id="achtung-overlay" class="full-screen">
  <div class="achtungWait achtung" style="display: block">
    <span class="achtung-message-icon loader"></span
    ><span class="achtung-message">Please wait ...</span>
  </div>
</div>
<app-nav *ngIf="!hideElement"></app-nav>
<app-sidebar *ngIf="!hideElement"></app-sidebar>
<!-- Content Wrapper. Contains page content -->
<div class="{{ print ? 'wrapper' : 'content-wrapper' }}">
  <!-- Content Header (Page header) -->
  <section *ngIf="!hideElement" class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1>{{ title }}</h1>
        </div>
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right d-none">
            <li class="breadcrumb-item"><a href="/">Home</a></li>
            <li class="breadcrumb-item active">{{ title }}</li>
          </ol>
        </div>
      </div>
    </div>
    <!-- /.container-fluid -->
  </section>
  <!-- Main content -->
  <section class="content">
    <router-outlet></router-outlet>
  </section>
  <!-- /.content -->
</div>
<!-- /.content-wrapper -->
<app-footer *ngIf="!hideElement"></app-footer>
<!-- Notifications -->
<div id="notifications" class="notifications fixed"></div>
<div id="sidebar-overlay"></div>
