<div class="container-fluid">
  <div class="row">
    <!-- left column -->
    <div class="col-md-6">
      <!-- Form Element sizes -->
      <div class="card">
        <div class="card-header ui-sortable-handle">
          <h3 class="card-title">
            <i class="ion ion-clipboard mr-1"></i>
            قائمة المعدات
          </h3>
          <div class="card-tools">
            <pagination-controls
              (pageChange)="p = $event"
              previousLabel=""
              nextLabel=""
            ></pagination-controls>
            <br />
            <form class="form-horizontal">
              <div class="form-group row">
                <label class="col-sm-4 col-form-label">البحث</label>
                <div class="col-sm-8">
                  <input
                    type="text"
                    class="form-control"
                    (input)="onSearchChange($event)"
                    value=""
                  />
                </div>
              </div>
            </form>
          </div>
        </div>
        <!-- /.card-header -->
        <div class="card-body">
          <table class="table table-sm">
            <thead>
              <tr>
                <th>الكود</th>
                <th>الاسم</th>
                <th>الوحدة</th>
                <th>التصنيف</th>
                <th>السعر المبدئي</th>
                <th>تعديل</th>
              </tr>
            </thead>
            <tbody *ngIf="items && items.length > 0">
              <tr
                *ngFor="
                  let item of items
                    | paginate: { itemsPerPage: 10, currentPage: p }
                "
              >
                <td>{{ item.code }}</td>
                <td>{{ item.name }}</td>
                <td>{{ item.unit }}</td>
                <td>{{ item.category }}</td>
                <td>{{ item.iprice }}</td>
                <td>
                  <i
                    class="fas fa-edit text-danger pointer"
                    (click)="
                      editItem(
                        item.id,
                        item.name,
                        item.code,
                        item.unit_id,
                        item.category_id,
                        item.iprice
                      )
                    "
                  ></i>
                </td>
              </tr>
            </tbody>
            <tbody>
              <tr *ngIf="items && items.length < 1">
                <td colspan="4"><h2>لا يوجد معدات</h2></td>
              </tr>
            </tbody>
          </table>
          <p *ngIf="items && items.length < 1">لا يوجد معدات</p>
          <p *ngIf="!items"><i class="fas fa-spinner fa-spin"></i></p>
        </div>
      </div>
    </div>

    <!--/.col (left) -->
    <!-- right column -->
    <div class="col-md-6">
      <!-- general form elements -->
      <div class="card card-primary">
        <div class="card-header">
          <h3 class="card-title">إضافة بند جديد</h3>
        </div>
        <!-- /.card-header -->
        <!-- form start -->
        <form #itemForm="ngForm" (ngSubmit)="onSubmit(itemForm)">
          <div class="card-body">
            <div class="form-group">
              <label for="code">الكود*</label>
              <input
                type="text"
                class="form-control"
                id="code"
                name="code"
                required
                minlength="1"
                [(ngModel)]="item.code"
                #code="ngModel"
                [class.is-invalid]="
                  code.invalid && (code.dirty || code.touched)
                "
              />
            </div>

            <div class="form-group">
              <label for="name">البند*</label>
              <input
                type="text"
                class="form-control"
                id="name"
                name="name"
                required
                minlength="1"
                [(ngModel)]="item.name"
                #name="ngModel"
                [class.is-invalid]="
                  name.invalid && (name.dirty || name.touched)
                "
              />
            </div>

            <div class="form-group">
              <label>الوحدة *</label>
              <select
                *ngIf="units"
                name="unit_id"
                class="form-control"
                required
                [(ngModel)]="item.unit_id"
                #unit_id="ngModel"
              >
                <option *ngFor="let u of units" [value]="u.id">
                  {{ u.name }}
                </option>
              </select>
              <p *ngIf="!units"><i class="fas fa-spinner fa-spin"></i></p>
            </div>

            <div class="form-group">
              <label>التصنيف *</label>
              <select
                *ngIf="categories"
                name="category_id"
                class="form-control"
                required
                [(ngModel)]="item.category_id"
                #category_id="ngModel"
              >
                <option *ngFor="let c of categories" [value]="c.id">
                  {{ c.name }}
                </option>
              </select>
              <p *ngIf="!categories"><i class="fas fa-spinner fa-spin"></i></p>
            </div>

            <div class="form-group">
              <label for="iprice">السعر المبدئي*</label>
              <input
                type="text"
                class="form-control"
                id="iprice"
                name="iprice"
                required
                minlength="1"
                [(ngModel)]="item.iprice"
                #iprice="ngModel"
                [class.is-invalid]="
                  iprice.invalid && (iprice.dirty || iprice.touched)
                "
              />
            </div>
          </div>
          <!-- /.card-body -->

          <div class="card-footer">
            <button
              type="submit"
              class="btn btn-primary"
              [disabled]="!itemForm.valid"
              [disabled]="loading"
            >
              <span *ngIf="loading"
                ><i class="fas fa-spinner fa-spin"></i
              ></span>
              حفظ
            </button>
            <button
              *ngIf="isUpdate"
              class="btn btn-info float-left"
              (click)="resetFrom(itemForm)"
            >
              الغاء
            </button>
          </div>
        </form>
      </div>
      <!-- /.card -->
    </div>
    <!--/.col (right) -->
  </div>
  <!-- /.row -->
</div>
