<div class="container-fluid">
  <div class="row">
    <!-- left column -->
    <div class="col-md-8">
      <!-- Form Element sizes -->
      <div class="card">
        <div class="card-header ui-sortable-handle">
          <h3 class="card-title">
            <i class="ion ion-clipboard mr-1"></i>
            قائمة العملاء
          </h3>
          <div class="card-tools">
            <pagination-controls
              (pageChange)="p = $event"
              previousLabel=""
              nextLabel=""
            ></pagination-controls>
            <br />
            <form class="form-horizontal">
              <div class="form-group row">
                <label class="col-sm-4 col-form-label">Search</label>
                <div class="col-sm-8">
                  <input
                    type="text"
                    class="form-control"
                    (input)="onSearchChange($event)"
                    value=""
                  />
                </div>
              </div>
            </form>
          </div>
        </div>
        <!-- /.card-header -->
        <div class="card-body p-0">
          <p class="text-center" *ngIf="clients && clients.length < 1">
            لا يوجد عملاء
          </p>
          <p *ngIf="!clients" class="text-center">
            <i class="fas fa-spinner fa-spin"></i>
          </p>
          <table *ngIf="clients && clients.length > 0" class="table table-sm">
            <thead>
              <tr>
                <th style="width: 10px">#</th>
                <th>العميل</th>
                <th>تعديل</th>
              </tr>
            </thead>
            <tbody>
              <tr
                *ngFor="
                  let client of clients
                    | paginate: { itemsPerPage: 10, currentPage: p }
                "
              >
                <td>{{ client.id }}</td>
                <td>{{ client.name }}</td>
                <td>
                  <i
                    class="fas fa-edit text-danger pointer"
                    (click)="editClient(client.id, client.name)"
                  ></i>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>

    <!--/.col (left) -->
    <!-- right column -->
    <div class="col-md-4">
      <!-- general form elements -->
      <div class="card card-primary">
        <div class="card-header">
          <h3 class="card-title">اضافة عميل</h3>
        </div>
        <!-- /.card-header -->
        <!-- form start -->
        <form #clientForm="ngForm" (ngSubmit)="onSubmit(clientForm)">
          <div class="card-body">
            <div class="form-group">
              <label for="name">العميل*</label>
              <input
                type="text"
                class="form-control"
                id="name"
                name="name"
                required
                minlength="4"
                [(ngModel)]="client.name"
                #name="ngModel"
                [class.is-invalid]="
                  name.invalid && (name.dirty || name.touched)
                "
              />
            </div>
          </div>
          <!-- /.card-body -->

          <div class="card-footer">
            <button
              type="submit"
              class="btn btn-primary"
              [disabled]="!clientForm.valid"
              [disabled]="loading"
            >
              <span *ngIf="loading"
                ><i class="fas fa-spinner fa-spin"></i
              ></span>
              حفظ
            </button>
            <button
              *ngIf="isUpdate"
              class="btn btn-info float-right"
              (click)="resetFrom(clientForm)"
            >
              الغاء
            </button>
          </div>
        </form>
      </div>
      <!-- /.card -->
    </div>
    <!--/.col (right) -->
  </div>
  <!-- /.row -->
</div>
