<div class="container-fluid">
  <div class="row">
    <div class="col-12 col-sm-4 col-md-3">
      <div class="info-box pointer" [routerLink]="['/orders/move/1/0']">
        <span class="info-box-icon bg-info elevation-1"
          ><i class="fas fa-shopping-cart"></i
        ></span>

        <div class="info-box-content">
          <span class="info-box-text">فاتورة مشتريات</span>
          <span class="info-box-number">
            0
            <small>فاتورة</small>
          </span>
        </div>
        <!-- /.info-box-content -->
      </div>
      <!-- /.info-box -->
    </div>
    <!-- /.col -->
    <div class="col-12 col-sm-4 col-md-3">
      <div class="info-box mb-3 pointer" [routerLink]="['/orders/move/2/0']">
        <span class="info-box-icon bg-danger elevation-1"
          ><i class="fas fa-exchange-alt"></i
        ></span>

        <div class="info-box-content">
          <span class="info-box-text">عمل تحويل</span>
          <span class="info-box-number">0 <small>تحويل</small></span>
        </div>
        <!-- /.info-box-content -->
      </div>
      <!-- /.info-box -->
    </div>
    <!-- /.col -->

    <!-- fix for small devices only -->
    <div class="clearfix hidden-md-up"></div>

    <div class="col-12 col-sm-4 col-md-3">
      <div class="info-box mb-3 pointer" [routerLink]="['/orders/move/3/0']">
        <span class="info-box-icon bg-success elevation-1"
          ><i class="fas fa-cog"></i
        ></span>

        <div class="info-box-content">
          <span class="info-box-text">تكوين سلعى</span>
          <span class="info-box-number">0</span>
        </div>
        <!-- /.info-box-content -->
      </div>
      <!-- /.info-box -->
    </div>
    <!-- /.col -->
    <div class="col-12 col-sm-4 col-md-3">
      <div class="info-box mb-3 pointer" [routerLink]="['/orders/move/4/0']">
        <span class="info-box-icon bg-warning elevation-1"
          ><i class="fas fa-undo"></i
        ></span>

        <div class="info-box-content">
          <span class="info-box-text">مردودات مشتريات</span>
          <span class="info-box-number">0</span>
        </div>
        <!-- /.info-box-content -->
      </div>
      <!-- /.info-box -->
    </div>
    <!-- /.col -->
    <div class="col-12 col-sm-4 col-md-3">
      <div class="info-box mb-3 pointer" [routerLink]="['/orders/move/5/0']">
        <span class="info-box-icon bg-primary elevation-1"
          ><i class="fas fa-money-bill-wave-alt"></i
        ></span>

        <div class="info-box-content">
          <span class="info-box-text">مبيعات</span>
          <span class="info-box-number">0</span>
        </div>
        <!-- /.info-box-content -->
      </div>
      <!-- /.info-box -->
    </div>
    <!-- /.col -->
    <div class="col-12 col-sm-4 col-md-3">
      <div class="info-box mb-3 pointer" [routerLink]="['/orders/move/6/0']">
        <span class="info-box-icon bg-secondary elevation-1"
          ><i class="fas fa-backspace"></i
        ></span>

        <div class="info-box-content">
          <span class="info-box-text">اهلاك</span>
          <span class="info-box-number">0</span>
        </div>
        <!-- /.info-box-content -->
      </div>
      <!-- /.info-box -->
    </div>
    <!-- /.col -->
  </div>
  <!-- /.row -->
</div>
